.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 12rem;
    padding: 0.5rem;
}

.product__title {
    font-size: 1.5rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.product__description {
    text-align: center;
    font-size: 0.8rem;
}

